/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}


table {
  margin: 0 auto;
  
}


thead {
  font-weight: bold;
  background-color: #eee;
}


td, th {
  border: 1px solid black;
  padding: 5px;
}


td:last-child {
  text-align: center;
}


button {
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
#rimiPrice,
#prismaPrice,
#barboraPrice{
  height:26px;
}

#invisible{
  border: 0;
}


#addButton {
  background-color: #008CBA;
}


#deleteButton {
  background-color: #f44336;
}


#deleteAllButton {
  background-color: #555555;
}

#startButton {
  box-shadow: inset;
  background-color: #4CAF50;
  float: right;
  margin-right: 10px;
  
}


.orderButtons {
  margin-top: 10px;
}

